.spacer {
  flex: 1 1 auto;
}

nav {
  display: flex;
  gap: 8px;
}

.active-link {
  background: rgba(255, 255, 255, 0.1);
}

mat-icon {
  margin-right: 8px;
}

@media (max-width: 600px) {
  span:not(.spacer) {
    display: none;
  }
  
  mat-icon {
    margin-right: 0;
  }
} 